<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
         <h:outputStylesheet name="css/style.css"/>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.3/cyborg/bootstrap.min.css"/>
     <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
     <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
     <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css"/>
        <title>ERROR</title>
    </h:head>
    <h:body class='error-body'>
        
        
        <div class="container" style="margin-top:120px">
            
            <div class="text-center">
            <h1 style='color: white'> OOPS</h1>
            <h1 style='color: white'> SOME THING WENT WRONG </h1> 
            <h:link outcome="index.xhtml" class="btn btn-lg btn-success">Take me back</h:link>
            </div>
        </div>
        

    </h:body>
</html>

