<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough">
 <h:head>
     <h:outputStylesheet name="css/style.css"/>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.3/cyborg/bootstrap.min.css"/>
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"></meta>
     <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
     <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
     <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css"/>
  
     <title> #{adminController.pageTitle} </title>
 </h:head>
<h:body class="body-background">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #060606">
        <h:link class="navbar-brand" outcome="index"> <h4>AUSSIE HOLIDAYS </h4></h:link>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
     </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <h:form  class="ml-auto" style="float:right">
     <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
            <h:link class="nav-link" outcome = "index"> Admin<span class="sr-only">(current)</span></h:link>
        </li>
          <li class="nav-item">
             <h:link class="nav-link" outcome="profile">Profile</h:link>
        </li>
         <li class="nav-item">
             <h:commandLink class="nav-link" action="#{navigation.logout}" > Logout </h:commandLink>
        </li>
     </ul>
           </h:form>
    </div>
  </nav>
    
    <div class=" container">
        
    
    <div  style="margin-top: 80px;">
        
        <h2>  ADMIN </h2> 
        
    </div>
        
        
    <div id="tabs" class="well-sm">
        <ul>
            <li><a href="#tabs-1">Search Users</a></li>
            <li><a href="#tabs-2">Add Users</a></li>
          
        </ul>
        
        <div id="tabs-1">
        
            <div style="margin-top: 5px">
                
                <h:form id="user-form">
                    
                    <h6 style="color:black"> SELECT YOUR FIRST SEARCH PARAMETERS </h6>
                    
                    
                         <div class="row">
                        
                    
                            <div class="col-lg-6 col-md-12" style="margin-top:5px;">
                        
                        
                                 <h:selectOneMenu class="form-control form-control-lg search-input border-styled" 
                                         value="#{adminController.firstDropDownValue}">
                                 <f:selectItems  value="#{adminController.firstDropDown}"/>
                                 <f:ajax listener="#{adminController.changeDropDown}" render="secondDropDown" />
                                 </h:selectOneMenu>
                        
                            </div>
                        
                        
                             <div class="col-lg-6 col-md-12" style="margin-top:5px">
                            
                                    <h:inputText class="form-control border-styled   search-text #{!firstCriteriaText.valid ? 'has-error' : 'none'}"
                                    a:placeholder="Provide search criteria"  id="input-search-text-1" 
                                    value= "#{adminController.firstCriteriaText}"
                                    requiredMessage="This Field is required"
                                     required="True" />
                             
                               
                             
                                       
                                    <h:message for="input-search-text-1" class="#{!firstCriteriaText.valid ? 'label label-warning' : 'none'}" />
  
                            </div>
                     
                        
                        </div>
                    
                    
                        <h6 style="color:black; margin-top: 10px;"> SELECT YOUR SECOND SEARCH PARAMETERS </h6>
                    
                        <div class="row">
                    
                     <div class="col-lg-6 col-md-12" style="margin-top:5px;">
                        <h:selectOneMenu class="form-control form-control-lg search-input border-styled" 
                                         value="#{adminController.secondDropDownValue}" id="secondDropDown">
                            <f:selectItems  value="#{adminController.secondDropDown}"/>
                        </h:selectOneMenu>
                        
                     </div>
                        
                        
                         <div class="col-lg-6 col-md-12" style="margin-top:5px">
                            
                            <h:inputText class="form-control border-styled   search-text #{!secondCriteriaText.valid ? 'has-error' : 'none'}"
                            a:placeholder="Provide search criteria"  id="input-search-text-2"
                            value= "#{adminController.secondCriteriaText}"
                           requiredMessage="This Field is required"
                           required="True"/>
                           <h:message for="input-search-text-2" class="#{!secondCriteriaText.valid ? 'label label-warning' : 'none'}" />
                           
                           
                           
                        </div>
                     
                        
                    </div>
                     
                     
                     <div class="col-lg-1 col-sm-1 padding-0" style="margin-top:10px;">
                    
                    <h:commandButton class="btn-success btn btn-lg" value="SEARCH"
                                     action="#{adminController.search()}"></h:commandButton>
                    </div>
                          
                 </h:form>
                
        
                
    <div class=" #{adminController.firstTimeLoad ? 'no-display' : 'block-display'}" >
      
        <div  style="margin-top:20px;"
       class=" container text-center table-sm #{!adminController.searchResultAvailable ? 'no-display' : 'block-display'}">
          
           <h4 style="color:black"> Search Results </h4>
           
          <table class="table data-table-selector" style="margin-top:20px;">
              <thead class="thead-dark">
    		<tr>
    			
    			<th scope="col">User Id</th>
                        <th scope="col">User Type</th>
                        <th scope="col"> User Name</th>
                        <th scope="col"> </th>
    		</tr>
              </thead>
                
              <tbody>
                <ui:repeat var="p" value="#{adminController.result}" varStatus="status">
	   			  <tr>
                                      
                                      <td> #{p.userId}</td>
                                      <td> #{p.userType.userTypeName}</td>
                                      <td> #{p.firstName} #{p.lastName}</td>
                                      <td> 
                                          <h:link value="Details" style="color:blue" outcome="userDetails" > 
                                              <f:param name="userDetails"  value="#{p.userId}"></f:param> 
                                          </h:link>       
                                      
                                      </td>
		    		  </tr>
                    </ui:repeat>
              </tbody>
              
          </table>
           
       </div>
        
        
        
       <div  style="margin-top: 20px" class="container #{!adminController.searchResultAvailable ? 'block-display' : 'no-display'}" >     
             
         <h4 style="color:black"> Your search did not return any result </h4>
             
       </div> 
        
        
    </div>   
                
        
          
       
       </div>  
       </div>
    
            
            
          
        
        
        
        
        <div id="tabs-2">
        
             <div style="margin-top: 30px;">
                    <h3 style= "color:black" > ADD USER </h3>
             </div>
          
            
            <h:form> 
            
            <div class="row" style="margin-top:20px">
            
                <h5 class="col-md-4 " style="color:black;"> First Name </h5> 
        
                  <h:inputText id="firstName" class="form-control border-styled col-md-6" 
                               label="Name" size="32" value="#{newUserController.firstName}" binding="#{firstName}" required="true" requiredMessage="Please enter your name!"></h:inputText> 
                              
                  <h:messages for="firstName" class="#{!firstName.valid ? 'label label-warning' : 'none'}" />
                
             </div>
                
            <div class="row" style="margin-top:20px;">
            
                <h5 class="col-md-4" style="color:black"> Last Name </h5> 
        
                  <h:inputText id="lastName" class="form-control border-styled col-md-6"
                     label="lastName" size="32" value="#{newUserController.lastName}" binding="#{lastName}" required="true" requiredMessage="Please enter your last name!"></h:inputText> 
                              
                  <h:messages for="lastName" class="#{!lastName.valid ? 'label label-warning' : 'none'}" />
                
             </div>
            
            
            
            <div class="row" style="margin-top:20px;">
            
                <h5 class="col-md-4" style="color:black"> Email </h5> 
        
                  <h:inputText id="email" class="form-control border-styled col-md-6"
                     label="email" size="32" value="#{newUserController.email}" binding="#{email}" required="true" requiredMessage="Please enter your last name!"></h:inputText> 
                              
                  <h:messages for="email" class="#{!email.valid ? 'label label-warning' : 'none'}" />
                
             </div>
                
                
                
             
            <div class="row" style="margin-top:20px">
            
                <h5 class="col-md-4" style="color:black"> Password  </h5> 
            
                <h:inputSecret id="password" class="form-control border-styled col-md-6"
                               label="password" size="32" value="#{newUserController.password}" binding="#{password    }" required="true" requiredMessage="Please enter your user type!"></h:inputSecret> 
                              
                             <h:messages for="password" class="#{!password.valid ? 'label label-warning' : 'none'}" />
                
            
            
            </div>
               
            
            
            <div class="row" style="margin-top:20px;">
            
                <h5  class="col-md-4" style="color:black"> Phone </h5> 
        
                  <h:inputText id="phone" class="form-control border-styled col-md-6"
                               label="phone" size="32" value="#{newUserController.phoneNumber}" binding="#{phoneNumber}" required="true" requiredMessage="Please enter your phone Number!"></h:inputText> 
                              
                  <h:messages for="phone" class="#{!phone.valid ? 'label label-warning' : 'none'}" />
                
             </div>
            
            
            
            <div class="row" style="margin-top:20px;">
            
                <h5 class="col-md-4"  style="color:black"> Address </h5> 
        
                  <h:inputText id="address" class="form-control border-styled col-md-6 address"
                               label="phone" size="32" value="#{newUserController.address}" binding="#{address}" required="true" requiredMessage="Please enter your phone Number!"></h:inputText> 
                              
                  <h:messages for="address" class="#{!address.valid ? 'label label-warning' : 'none'}" />
                
             </div>
                
                
                <div class="row" style="margin-top:20px">
                    
                    <h5 class="col-md-4"  style="color:black"> User Type </h5> 
                    
                    <h:selectOneMenu class="form-control form-control-lg border-styled col-md-6" 
                                     value="#{newUserController.userTypeText}">
                        <f:selectItems  value="#{newUserController.userType}"/>
                        </h:selectOneMenu>
                    
                    
                </div>   
            
                
                
                <div class=" col-lg-1 col-sm-1  padding-0" style="margin-top:10px;">
                    
                    <h:commandButton class="btn-success btn btn-lg" value="ADD"
                                     action="#{newUserController.addUser()}"></h:commandButton>
                </div>
            
            </h:form>   
            
            
            
            
            
        </div>
        
       
    </div>
        
 </div>
        
      
        
       
        
        
        
        
    
    
    
    
    <footer style='margin-top: 80px;'>
        
        <div class="container">
            
            <div class="row">
            <div class="col-xs-12 col-md-6" >
                <h4 style="margin-top: 20px">AUSSIE HOLIDAYS </h4>
                <p style="margin-top: -10px"> 79 Whiteman Street </p>
                <p style="margin-top: -20px"> Melbourne, Australia </p>
                <p  style="margin-top: -20px"> Phone : 049999999 </p>
            </div>
            
            <div class=" col-md-2" style="margin-top: 60px;">
                
                <h6>About Us</h6>
        
            </div>
                
             <div class=" col-md-2" style="margin-top: 60px;">   
                <h6>Contact Us</h6>
             </div>
                
                
             <div class=" col-md-2" style="margin-top: 60px;">   
                <h6> <h:outputLink value="index.xhtml"> Admin </h:outputLink></h6>
             </div>
                
                
                </div>
            
        </div>
        
    </footer>

    
     <script>
 
    
    $( function() {
    $( "#tabs" ).tabs();
     } );
  
       // Place search 
        function activatePlacesSearch() {

            var input = $(".address")[0];
            console.log(input);
            
            
            var autocomplete = new google.maps.places.Autocomplete(input);
            google.maps.event.addListener(autocomplete, 'place_changed', function () {
                var place = autocomplete.getPlace();
                console.log(place.address_components);
            });

        }

    </script>

    
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBm-robUfxNpka3hxgsp2TbjwKpVM0Fufo&amp;libraries=places&amp;callback=activatePlacesSearch"> </script>
  
  

 </h:body>
      
</html>
