<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough">
 <h:head>
     <h:outputStylesheet name="css/style.css"/>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.3/cyborg/bootstrap.min.css"/>
     <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
     <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
     <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css"/>
     <h:outputScript name="js/bootstrap.min.js" />
     <h:outputScript name="js/bootbox.min.js" />
     <title> User Details </title>
 </h:head>
<h:body class="body-background">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #060606">
        <h:link class="navbar-brand" outcome="index"> <h4>AUSSIE HOLIDAYS </h4></h:link>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
     </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <h:form  class="ml-auto" style="float:right">
     <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <h:link class="nav-link" outcome = "index.xhtml">Home</h:link>
        </li>
          <li class="nav-item active">
             <h:link class="nav-link" outcome="profile.xhtml">Profile</h:link>
        </li>
        
         <li class="nav-item">
             <h:commandLink class="nav-link" action="#{navigation.logout}" > Logout </h:commandLink>
        </li>
         
     </ul>
           </h:form>
    </div>
  </nav>
    
    <div style="margin-top:80px">

        <div style="color:white;">
            
            <div class="container">
              
           
            <div style="clear:both; margin-top:40px;">
                
             <table class="table data-table-selector table-bordered" style="margin-top:20px;">
     
               <thead class="thead-dark">
    		<tr>
    			
    			<th colspan="2" class="text-center">USER DETAILS</th>
                </tr>
               </thead>

             <tbody>
                 
              <tr>
                  <td> User Id </td>
                  <td> #{publicUserDetails.user.userId} </td>
              </tr>
              <tr>
                  <td> First Name </td>
                  <td> #{publicUserDetails.user.firstName} </td>
              </tr>
               <tr>
                  <td> Last Name  </td>
                  <td> #{publicUserDetails.user.lastName} </td>
              </tr>
              <tr>
                  <td> Email  </td>
                  <td> #{publicUserDetails.user.email} </td>
              </tr>
              <tr>
                  <td> Phone Number </td>
                  <td> #{publicUserDetails.user.phoneNumber} </td>
              </tr>
              
               <tr>
                  <td> Address </td>
                  <td>  #{publicUserDetails.user.streetAddress} </td>
              </tr>
             </tbody>
             </table>      
              </div>
              
                
                <div class="ml-auto">
                    
                    
                        
                     <div class="col-lg-12 col-sm-12 padding-0" style="margin-top:10px;">
                    
                         
                         
                             <h:link value="EDIT USER"  class= "btn btn-success btn-lg"  outcome="editDetails" > 
                                 <f:param name="editDetails"  value="#{publicUserDetails.user.userId}"></f:param> 
                                          </h:link> 
                                
                           
                    
                  
                         
                    </div>
                        
                    
                        
                </div>
                
                
                
                
            
             </div>
              
            
            <footer style='margin-top: 80px;'>
        
        <div class="container">
            
            <div class="row">
            <div class="col-xs-12 col-md-6" >
                <h4 style="margin-top: 20px">AUSSIE HOLIDAYS </h4>
                <p style="margin-top: -10px"> 79 Whiteman Street </p>
                <p style="margin-top: -20px"> Melbourne, Australia </p>
                <p  style="margin-top: -20px"> Phone : 049999999 </p>
            </div>
            
            <div class=" col-md-2" style="margin-top: 60px;">
                
                <h6>About Us</h6>
        
            </div>
                
             <div class=" col-md-2" style="margin-top: 60px;">   
                <h6>Contact Us</h6>
             </div>
                
                
             <div class=" col-md-2" style="margin-top: 60px;">   
                <h6> <h:outputLink value="index.xhtml"> Admin </h:outputLink></h6>
             </div>
                
                
                </div>
            
        </div>
        
    </footer>
              
        </div>
        
        
        <div class= "#{userDetailsController.resultAvailable ? 'no-display' : 'block-display'}" style="margin-top:80px">
        
            <div class="container text-center">
            
            <h3 style="color:black; margin-top:50px"> No Such User Exists </h3>
        
            </div>
            
        <footer style='margin-top: 400px;'>
        
        <div class="container">
            
            <div class="row">
            <div class="col-xs-12 col-md-6" >
                <h4 style="margin-top: 20px">AUSSIE HOLIDAYS </h4>
                <p style="margin-top: -10px"> 79 Whiteman Street </p>
                <p style="margin-top: -20px"> Melbourne, Australia </p>
                <p  style="margin-top: -20px"> Phone : 049999999 </p>
            </div>
            
            <div class=" col-md-2" style="margin-top: 60px;">
                
                <h6>About Us</h6>
        
            </div>
                
             <div class=" col-md-2" style="margin-top: 60px;">   
                <h6>Contact Us</h6>
             </div>
                
                
             <div class=" col-md-2" style="margin-top: 60px;">   
                <h6> <h:outputLink value="index.xhtml"> Admin </h:outputLink></h6>
             </div>
                
                
                </div>
            
        </div>
        
    </footer>
        
        
        </div>
                
    </div>
      
 
 </h:body>
    
    <script>
        
        $(document).ready(function() {
        
            $("#delete-button").on('click', function(){
                 
               bootbox.confirm("Are you sure you want to delete the user ?", 
        
        
                function(result){
               
                  if (result === true)
                  {
                      
                    var item = $(".delete-button-hidden");
                    console.log(item[0]);
                    $(".delete-button-hidden")[0].click();
                }
                
                  
               
               });
               
               
               
               });
           
        
            
            
        });
        
        
        
    </script>
    
    
</html>
