/* Main Sections */
/*
html { background: #ffffff; }
/* body { background-image: url("http://localhost:44880/Test/faces/javax.faces.resource/images/bg1.jpg"); margin: 0 auto; font-family: sans-serif; padding-bottom: 5px;  }
*/
/*
header { background: #9CF; height: 40px; padding: 20px; }
article { padding: 20px; }
footer { background: #EEE; border: 1px solid #999; margin: 5px 10px; padding: 0 10px; }
 Headings 

header h1 { color: #FFF; margin: 0; }
h2 { margin: 0; }
/* Form Elements */
/*
form p { font-weight: bold; margin: 0; }
input { margin-bottom: 20px; }
textarea { display: block; margin-bottom: 10px; height: 240px; width: 480px;}
/* Error validation */

.has-error { border-style:dotted ; border-color: red; }


.label-warning {
    
    color:red;
    
}

footer {
    
    height:140px;
    background-color: #060606;
    
    
}

footer  h4,h6 {
    
    color: white;
    
}

footer p {
    color : #888
}


a {
    color:snow;
}





.label-warning {
    color:red;
     
    font-size: 1.3em;}


lider, .wrap, .slide-content {

    margin : 0;
    padding : 0;
    font-family : Arial Arial, Helvetica, sans-serif;
    width : 100%;
    height : 100vh;
    overflow-x: hidden;

}


.wrap,slider {

    position :relative;

}

.slide {

    background-size :cover;
    background-repeat :no-repeat;
    background-attachment:fixed;
}


.slide1 {
    background-image : url('../images/bg33.jpg');

    
    
}

.slide2 {
    background-image: url('../images/bg2.jpg');
    
}

.slide3 {
    background-image: url('../images/bg_15.jpg');
    
}

.body-background {
    
/*background-color: #02ab8e; */
background-color:  #fff;
/*
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 2 1'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(33,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%2302ab8e'/%3E%3Cstop offset='1' stop-color='%23f2d7d0'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='0' y2='1' gradientTransform='rotate(0,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23aebac8' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23aebac8' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='2' y2='2' gradientTransform='rotate(163,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23aebac8' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23aebac8' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='2' height='1'/%3E%3Cg fill-opacity='0.27'%3E%3Cpolygon fill='url(%23b)' points='0 1 0 0 2 0'/%3E%3Cpolygon fill='url(%23c)' points='2 1 2 0 0 0'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;  
*/
}


.search-box {

    position: absolute;
    top : 30%;
    margin-top: 50px;
    left:0;
    right:0;
     
}

.search-input {

    background-color:#fff;
    max-width:100%;
    height:50px;
}

.padding-0 {
    padding-right: 0;
    padding-left: 0;
}

/* Changes required
.form-control {
    border:none;
    opacity:0.8;
}
*/

/* color of the search bar */
.test-color{
    color:#333;
    font-weight: bolder;
}

/* select option bar */
.test-select {
    border-style: none;
    background: transparent;
}

.test-select option {
    background: transparent;
}




.border-styled{
    border-style: inset;
    border-color: black;
}



.no-display {
    display: none;
}

.block-display {
    
    display: block;
    
}

hr.style-four {
    height: 3px;
    border: 0;
    background: #333;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}


/*Booking pages */

p span {
    
    font-weight: bold;
    font-style: italic;
    
}


.booking-details {
 
    overflow :hidden;
    padding : 10px;
    
    
}

.invoice {
    
    padding : 10px;
    
}



.login-background {
    
    overflow: hidden;  
    background-image: url('../images/bg2.jpg');
    background-size: cover;
    background-position: fixed;
}


#login-form {
    
    overflow: hidden;
    margin-top: 10%;
    margin-left: 30%;

}



/* Admin page */
td {
    color: black;
}


h1, h2, h3, h5{
    
    color : black;
}



.error-body {
    
    background-image: url('../images/error_1.jpg');
    background-attachment: fixed;
    background-size: cover;
}

