


<div style="margin-top:110px"> 
    <div class="text-center">
        <h4 style="color:black"> COMPARE PACKAGES </h4>
    </div>
    
    <form data-ng-submit="comparePackages()">
    
    <div class="row">

    <div class="col-md-6">
        
        <label for="day" class="text-success"> Package 1</label>
        <select id="day" class="form-control border-styled" name="package" ng-model="package1" ng-options="package.id as package.name for package in packages">
           <option value="">-- Select --</option>
        </select>
        
    </div>
        
       
    
    <div class="col-md-6">
        
        <label for="day" class="text-success">Package 2</label>
        <select id="day" class="form-control border-styled" name="package" ng-model="package2" ng-options="package.id as package.name for package in packages">
            <option value="">-- Select --</option>
        </select>
        
        
    </div>
    
        
        <button class="btn btn-success" type="submit" style="margin-top: 20px; margin-left: 10px;"> COMPARE </button>   
       
     </div>
    
    </form>
    
    
   
     <div class="row" style="margin-top: 20px">
    
 <div data-ng-repeat="item in compare" class="col-md-6">
     
      
     
    
         
         <table class="table table-bordered">
             
             <thead>
                 <tr>
                 <th scope="col">{{item.name}}</th>
                 </tr>
             </thead>
             <tbody>
                 <th scope="row">Resort Name</th>
                  <td>{{item.resortName}}</td>
                </tr>
                <tr>
                 <th scope="row">Street Address</th>
                  <td>{{item.streetAddress}}</td>
                </tr>
                 <tr>
                 <th scope="row">City</th>
                  <td>{{item.city}}</td>
                </tr>
                 <tr>
                 <th scope="row">Cost</th>
                  <td>{{item.cost}}</td>
                </tr>
                <tr>
                 <th scope="row">Included Activity 1</th>
                  <td>{{item.act1}}</td>
                </tr>
                <tr>
                 <th scope="row">Included Activity 2</th>
                  <td>{{item.act2}}</td>
                </tr>
                <tr>
                 <th scope="row">Included Activity 3</th>
                  <td>{{item.act3}}</td>
                </tr>
              </tbody>

         </table>
         
     </div>
     
</div>
    
     </div>   
        


<p ng-bind="errorResponse"></p>
