<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
 <h:head>
     <h:outputStylesheet name="css/style.css"/>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.3/cyborg/bootstrap.min.css"/>
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"></meta>
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.js"></script>
     <h:outputScript name="js/app.js"> </h:outputScript>
     <h:outputScript name="js/PokemonService.js"> </h:outputScript>
     <h:outputScript name="js/SearchController.js"></h:outputScript>
     <h:outputScript name="js/app.js"> </h:outputScript>
     <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
     <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
     <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css"/>
     <title> #{searchController.pageTitle}
 </title>
 </h:head>
<body class="body-background container" data-ng-app="ngCompare">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #060606">
        <h:link class="navbar-brand" outcome="index"> <h4>AUSSIE HOLIDAYS </h4></h:link>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
     </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
     <ul class="navbar-nav ml-auto">
         <h:form>
        <li class="nav-item">
            <h:commandLink class="nav-link" action="#{navigation.showSearch()}">Home</h:commandLink>
        </li>
             </h:form>
        <li class="nav-item active">   
             <h:outputLink  class="nav-link" value="compare.xhtml"> Compare Packages </h:outputLink>
         </li>
         <li class="nav-item">
             <h:outputLink  class="nav-link" value="public/index.xhtml"> Login </h:outputLink>
        </li>
         <h:form>
         <li class="nav-item">
             <h:commandLink class="nav-link" action="#{navigation.register}" > Register </h:commandLink>
        </li>
        </h:form>
     </ul>
    </div>
  </nav>
    
    
   <div ng-view="true"></div>
    
    
</body>
    
    <style>
        
        th{
            
            color:black;
            
        }
        
        
    </style> 
    
    
  </html>
