<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
 <h:head>
     <h:outputStylesheet name="css/style.css"/>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.3/cyborg/bootstrap.min.css"/>
     <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
     <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
     <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css"/>
     <title> #{searchController.pageTitle}</title>
 </h:head>
<h:body>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #060606">
        <h:link class="navbar-brand" outcome="index"> <h4>AUSSIE HOLIDAYS </h4></h:link>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
     </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
     <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
            <h:link class="nav-link" outcome = "index">Home<span class="sr-only">(current)</span></h:link>
        </li>
        <li class="nav-item">   
             <h:outputLink  class="nav-link" value="compare.xhtml"> Compare Packages </h:outputLink>
         </li>
         <li class="nav-item">
             <h:outputLink  class="nav-link" value="public/index.xhtml"> Login </h:outputLink>
        </li>
         <h:form>
         <li class="nav-item">
             <h:commandLink class="nav-link" action="#{navigation.register}" > Register </h:commandLink>
        </li>
         </h:form>
     </ul>
    </div>
  </nav>
    
     <div id="slider">

        <div class="container search-box">
            <div class="text-center">
                        <h4 class="test-color"> I WOULD LIKE TO RESERVE A 
                            <select class="test-select" name="activity">
                                <option> __________ </option>
                                <option value="1"> RESORT </option>
                                <option value="2"> PACKAGES </option>
                                <option value="3"> ACTIVITY </option>
                    </select> </h4>
                <div style="margin-top:20px;">
                <h2 class="test-color resort-text" style="display: none"> STAY AND EXPLORE AUSTRALIA </h2>
                <h2 class="test-color package-text" style="display: none"> CONVERT TRIP TO JOURNEYS </h2>
                <h2 class="test-color activity-text" style="display: none"> UNRAVEL NEW EXPERIENCES </h2>
                </div>
            </div>
            
            
            <h:form  class="resort-form" style="display: none">
                <div class="row">
                    <div class="col-lg-9 offset-1 padding-0">
                        <!--
                        <input type="text" class="form-control form-control-lg search-input" placeholder="SELECT RESORT" />
                    -->
                    
                      <h:selectOneMenu class="form-control form-control-lg border-styled" 
                                       value="#{searchController.resortLocationSelected}">
                          <f:selectItems  value="#{searchController.resortsLocations}"/>
                        </h:selectOneMenu>

                    </div>  
                    
                    
                    <div class="col-lg-2 col-sm-2 padding-0">
                        
                        <h:commandButton class="btn-success btn btn-lg" value="BOOK"
                                     action="#{searchController.bookResorts()}"></h:commandButton>
                        
                    </div>
                    
                </div>
            </h:form>
            
            
            <!-- Display packages --> 
            
            <h:form class="package-form" style="display: none">
                <div class="row">
                    <div class="col-lg-9 offset-1 padding-0">
                        <!--
                        <input type="text" class="form-control form-control-lg search-input" placeholder="SELECT RESORT" />
                    -->
                     
                      <h:selectOneMenu class="form-control form-control-lg border-styled" 
                                       value="#{searchController.packageNameSelected}">
                          <f:selectItems  value="#{searchController.packageNames}"/>
                        </h:selectOneMenu>
                    
                        </div>
                 
                     <div class="col-lg-2 col-sm-2 padding-0">
                        
                        <h:commandButton class="btn-success btn btn-lg" value="BOOK"
                                     action="#{searchController.bookPackages()}"></h:commandButton>
                        
                    </div>
                    
                </div>
            </h:form>
            
            
              <!-- Display events --> 
              
              <h:form class="activity-form" style="display: none">
                <div class="row">
                    <div class="col-lg-9 offset-1 padding-0">
                        <!--
                        <input type="text" class="form-control form-control-lg search-input" placeholder="SELECT RESORT" />
                    -->
                    
                         <h:selectOneMenu class="form-control form-control-lg border-styled" 
                                          value="#{searchController.activityNameSelected}">
                             <f:selectItems  value="#{searchController.activityNames}"/>
                        </h:selectOneMenu>
                    
                    
                        </div>
                    
                    <div class="col-lg-2 col-sm-2 padding-0">
                   <h:commandButton class="btn-success btn btn-lg" value="BOOK"
                                    action="#{searchController.bookActivity()}"></h:commandButton>
                        
                    </div>
                </div>
            </h:form>
            
            
        </div>


        <div class="slide slide1">

            <div class="slide-content">

            </div>

        </div>

        <div class="slide slide2">

            <div class="slide-content">

            </div>

        </div>

        <div class="slide slide3">

            <div class="slide-content">

            </div>

        </div>



    </div>
    
    
    
    <footer>
        
        <div class="container">
            
            <div class="row">
            <div class="col-xs-12 col-md-6" >
                <h4 style="margin-top: 20px">AUSSIE HOLIDAYS </h4>
                <p style="margin-top: -10px"> 79 Whiteman Street </p>
                <p style="margin-top: -20px"> Melbourne, Australia </p>
                <p  style="margin-top: -20px"> Phone : 049999999 </p>
            </div>
            
            <div class=" col-md-2" style="margin-top: 60px;">
                
                <h6>About Us</h6>
        
            </div>
                
             <div class=" col-md-2" style="margin-top: 60px;">   
                <h6>Contact Us</h6>
             </div>
                
                
             <div class=" col-md-2" style="margin-top: 60px;">   
                <h6> <h:outputLink value="admin/index.xhtml"> Admin </h:outputLink></h6>
             </div>
                
                
                </div>
            
        </div>
        
    </footer>

    <h:outputScript name="js/carousel.js"> </h:outputScript>
 </h:body>
    
   
    
</html>
