<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"></meta>
     <h:outputStylesheet name="css/login.css"/>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.3/cyborg/bootstrap.min.css"/>
     <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
     <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
     <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css"/>
        <title>Login</title>
    </h:head>
    <h:body class="login-background">
        
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #060606">
        <h:link class="navbar-brand" outcome="index"> <h4>AUSSIE HOLIDAYS </h4></h:link>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
     </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
     <ul class="navbar-nav ml-auto">
      <li class="nav-item">
            <h:link class="nav-link" outcome = "index">Home<span class="sr-only">(current)</span></h:link>
        </li>
         <li class="nav-item">
             <h:outputLink  class="nav-link active" value="public/index.xhtml"> Login </h:outputLink>
        </li>
         <h:form>
         <li class="nav-item">
             <h:commandLink class="nav-link" action="#{navigation.register}" > Register </h:commandLink>
        </li>
         </h:form>
     </ul>
    </div>
  </nav>
        
        
        
     <div class="login-page" style="margin-top: 60px;">
     <div class="form">
    <form class="register-form">
      <input type="text" placeholder="email"/>
      <input type="password" placeholder="password"/>
      <input type="text" placeholder="email address"/>
      <button>create</button>
      <p class="message">Already registered? <a href="#">Sign In</a></p>
    </form>
    <form class="login-form" method="POST" action="j_security_check">
        <h4 style="color:black"> Login </h4>
      <input type="text" required='true' placeholder="username" name="j_username"/>
      <input type="password" required='true' placeholder="password" name="j_password"/>
      <button type="submit">login</button>
    </form>
  </div>
</div>

        <h:outputScript name="js/login.js"></h:outputScript>
        
    </h:body>
</html>

