<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
     xmlns:f = "http://java.sun.com/jsf/core">
    <h:head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"></meta>
     <h:outputStylesheet name="css/login.css"/>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.3/cyborg/bootstrap.min.css"/>
     <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
     <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
     <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css"/>
        <title>User Registration</title>
    </h:head>
    <h:body class="login-background">
        
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #060606">
        <h:link class="navbar-brand" outcome="index"> <h4>AUSSIE HOLIDAYS </h4></h:link>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
     </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
     <ul class="navbar-nav ml-auto">
      <li class="nav-item">
            <h:link class="nav-link" outcome = "index">Home<span class="sr-only">(current)</span></h:link>
        </li>
         <li class="nav-item">
             <h:outputLink  class="nav-link" value="public/index.xhtml"> Login </h:outputLink>
        </li>
         <h:form>
         <li class="nav-item">
             <h:commandLink class="nav-link active" action="#" > Register </h:commandLink>
        </li>
         </h:form>
     </ul>
    </div>
  </nav>
        
        
        
       <div class="login-page" style="margin-top: 60px;">
     <div class="form">
    <h:form class="login-form">
        <h3 style="color:black"> Sign Up </h3>
        
       <h:inputText class="form-control border-styled" id="email"  a:placeholder="Email"
                         required="true" requiredMessage="email is required"  value="#{signupController.email}" binding="#{email}"></h:inputText>
      <h:messages  for="email" class="#{!email.valid ? 'label label-warning' : 'none'}"/>
      <h:inputSecret class="form-control border-styled" id="password" a:placeholder="Password"
                     required="true" requiredMessage="password is required"  value="#{signupController.password}" binding="#{password}"></h:inputSecret>              
      <h:messages  for="password" class="#{!password.valid ? 'label label-warning' : 'none'}"/>
      
      <h:inputText id="firstName" class="form-control border-styled" a:placeholder="First Name" validatorMessage="The first name should start with capital letters and should have  should have two or more  alphabets "
                     label="Name" size="32" value="#{signupController.firstName}" binding="#{firstName}" required="true" requiredMessage="Please enter your first name!">
      <f:validateRegex pattern = "[A-Z][a-z]+" />
      </h:inputText> 
         
      <h:messages for="firstName" class="#{!firstName.valid ? 'label label-warning' : 'none'}" />
      
      
      
     <h:inputText id="lastName" class="form-control border-styled" a:placeholder="Last Name" validatorMessage="The last name should start with capital letters and should have two or more alphabets "
                     label="lastName" size="32" value="#{signupController.lastName}" binding="#{lastName}" required="true" requiredMessage="Please enter your last name!">
     <f:validateRegex pattern = "[A-Z][a-z]+" />
     </h:inputText> 
                              
     <h:messages for="lastName" class="#{!lastName.valid ? 'label label-warning' : 'none'}" />
      
      <h:inputText id="phone" class="form-control border-styled" a:placeholder="Phone Number" validatorMessage="Should be a valid mobile or land phone number "
                               label="phone" size="32" value="#{signupController.phoneNumber}" binding="#{phoneNumber}" required="true" requiredMessage="Please enter your phone Number!">
       <f:validateRegex pattern = "0[0-9]{9}|9[0-9]{7}" />
      </h:inputText> 
                              
      <h:messages for="phone" class="#{!phone.valid ? 'label label-warning' : 'none'}" />
              
        <h:inputText id="address" class="form-control border-styled address" a:placeholder="Address"
                        autocomplete="false"   label="adddress" size="32" value="#{signupController.address}" binding="#{address}" required="true" requiredMessage="Please enter your address!">
        </h:inputText> 
                    
      
       <h:messages for="address"  class="#{!address.valid ? 'label label-warning' : 'none'}" />
       
       <h:commandButton action="#{signupController.addNewUser()}" value="Sign Up" class="btn btn-success"
                         style="margin-top:30px; background-color: green">
            
        </h:commandButton>
        
            
       
      
                            
        
    </h:form>
  </div>
     </div>  
        
     <div class="login-page" style="margin-top: 60px;">
    
</div>

        <h:outputScript name="js/login.js"></h:outputScript>
        
    </h:body>
    
    
     <script>
 
    
   
    $(function(){
        $("#form").attr("autocomplete", "off");
    });

    
    
    $( function() {
    $( "#tabs" ).tabs();
     } );
  
       // Place search 
        function activatePlacesSearch() {

            var input = $(".address")[0];
            console.log(input);
            
            
            var autocomplete = new google.maps.places.Autocomplete(input);
            google.maps.event.addListener(autocomplete, 'place_changed', function () {
                var place = autocomplete.getPlace();
                console.log(place.address_components);
            });

        }

    </script>

    
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBm-robUfxNpka3hxgsp2TbjwKpVM0Fufo&amp;libraries=places&amp;callback=activatePlacesSearch"> </script>
  
    
    
</html>

