<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough">
 <h:head>
     <h:outputStylesheet name="css/style.css"/>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.3/cyborg/bootstrap.min.css"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
     <h:outputScript name="js/jquery-1.12.4.js"/>
     <h:outputScript name="js/jquery-ui.js"/>
     <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css"/>
  
     <title> </title>
 </h:head>
<h:body class="body-background">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #060606">
        <h:link class="navbar-brand" outcome="index"> <h4>AUSSIE HOLIDAYS </h4></h:link>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
     </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
            <h:link class="nav-link" outcome = "index.xhtml">Home<span class="sr-only">(current)</span></h:link>
        </li>
          <li class="nav-item">
             <h:link class="nav-link" outcome="profile.xhtml">Profile</h:link>
        </li>
         <li class="nav-item">
             <h:link class="nav-link" outcome="bookings.xhtml">Bookings</h:link>
        </li>
         <h:form>
         <li class="nav-item">
             <h:commandLink class="nav-link" action="#{navigation.logout}" > Logout </h:commandLink>
        </li>
         </h:form>
     </ul>
    </div>
  </nav>
    
    <f:metadata>
        <f:viewParam id="bookResorts" name="bookResorts" value="#{resortController.resortID}"  required="#{!facesContext.postback}">
    </f:viewParam>
    <f:viewAction action="#{resortController.init()}" />
      </f:metadata>
    <h:message for="bookResorts"/>
    
    
    <div class="container" style="margin-top:80px;">
        
        <h2> RESORT BOOKING : #{resortController.resort.resortName} </h2>
        
        <p> Address : #{resortController.resort.streetAddress} </p>
        
        
        <!-- Bookings column -->
        
        <h:form>
        
        <div class="col-md-12 well" style="margin-top:10px">
        

        
            
        <div class="row" style="margin-top:10px;">
            
         <div class="col-md-6">    
         <h6 style="color:black">Room Type </h6>
            
         <h:selectOneMenu class="form-control form-control-lg border-styled" 
                          value="#{resortController.roomTypeSelection}">
          <f:selectItem itemValue="#{null}" itemLabel="--select--" />
         <f:selectItems  value="#{resortController.roomTypeDropDown}"/>
         <f:ajax listener="#{resortController.valueChange()}" render="@all" />
                               
           </h:selectOneMenu>
         
         </div>
            
            
            <div class="col-md-6"> 
                    
                <h6 style="color:black"> Number Of People </h6> 
        
                 <h:selectOneMenu class="form-control form-control-lg border-styled" 
                                  value="#{resortController.noOfPeople}">
                       
                        <f:selectItems  value="#{resortController.numberOfPeople}"/>
                 
                  <f:ajax listener="#{resortController.valueChange()}" render="@all" />
                   </h:selectOneMenu>
                  
                </div>
            
            
            
            

         </div>   
            
            <div class="row" style="margin-top:10px;">
            
                 <div class="col-md-6"> 
                     
                     
                 <h6 style="color:black"> Do You Need Airport Pickup ? </h6> 
        
                  <h:selectOneMenu class="form-control form-control-lg border-styled" 
                                   value="#{resortController.airportPickup}">
                       
                      <f:selectItems  value="#{resortController.airportPickupDropDown}"/>
                  
                  <f:ajax listener="#{resortController.valueChange()}" render="@all" />
                   </h:selectOneMenu>
                
  
                </div>
                
                 <div class="col-md-6"> 
                    
                <h6 style="color:black"> Date</h6> 
        
                  <h:inputText id="date" class="form-control form-control-lg border-styled date-picker"
                               label="date" size="32" value="#{resortController.date}" binding="#{date}" required="true" requiredMessage="Please enter the date"></h:inputText> 
                      
                              
                  <h:messages for="date" class="#{!date.valid ? 'label label-warning' : 'none'}" />
                
                  
                </div>
             
                
            </div>
            

           
            
             <div class="row" style="margin-top:10px;">
            
                 <div class="col-md-6 form-control">  
                 <h6 style="color:black"> Number Of Rooms </h6> 
                 
                 <h:outputText id="noofrooms" value="#{resortController.numberOfRooms}"></h:outputText>  

                 </div>
                 
                 
                 <div class="col-md-6"> 
                    
                <h6 style="color:black"> Booking Name</h6> 
        
                  <h:inputText id="bookingName" class="form-control border-styled"
                               label="bookingName" size="32" value="#{resortController.bookingName}" binding="#{bookingName}" required="true" requiredMessage="Please enter number of rooms!"></h:inputText> 
                      
                               <p> Your booking name will be prepended with text "resort booking" </p>
                  <h:messages for="bookingName" class="#{!bookingName.valid ? 'label label-warning' : 'none'}" />
                
                  
                </div>
                 
                
             </div>  
            
            
              <div class="row" style="margin-top:10px;">
            
                
                
              </div>
            
             <div class="row" style="margin-top:10px;">
            
                <div class="col-md-6"> 
                    
                <h6 style="color:black"> Select Your Booking Type </h6> 
        
                 <h:selectOneMenu class="form-control form-control-lg border-styled" 
                                  value="#{resortController.bookingTypeSelection}">
                     <f:selectItems  value="#{resortController.bookingTypeDropDown}"/>
                   </h:selectOneMenu>
                 
                
                
                </div>
                 
                 
                 <div class="col-md-6"> 
                    
                    <div class="text-center">
                <h2> Invoice  </h2>
                  </div>
                 
                     <div style="float:right">
                <h6 style="color:black" > Room Cost <h:outputText id="roomcost" value="#{resortController.roomCost}"> </h:outputText> </h6> 
                <h6 style="color:black" > Airport Pickup Cost <h:outputText id="airportcost" value="#{resortController.airportPickUpCost}"> </h:outputText> </h6> 
                <h6 style="color:black"> Total Cost  <h:outputText id="price" value="#{resortController.totalPrice}"> </h:outputText> </h6> 
                 <div class="col-lg-1 col-sm-1 padding-0" style="margin-top:10px;">
                    
                    <h:commandButton class="btn-success btn btn-lg" value="BOOK"
                                     action="#{resortController.pay()}"></h:commandButton>
                </div> 
                </div>
                </div>
                 
                
              </div>
            
        </div>
        
            
        <div class="col-md-6">
                
                
                        
             <div class="row" style="margin-top:10px;">
            
                
                 
                 
               
                 
                
              </div>
            
        
                
                
            </div>
            
            
            
        </h:form>    
    </div>
    
    
    
  
    </h:body>
    
    
    
    <script>
        
        $(function () {

            $(".date-picker").datepicker(
                {



                    dateFormat: 'dd-mm-yy',
                    changeYear: true,
                    changeMonth: true,
                    hideIfNoPrevNext: true,
                    orientation: 'bottom',
                    minDate: 'dateToday',
                    beforeShow: function (input) {
                        $(input).css({
                            "position": "relative",
                            "z-index": 999999
                        });
                    },
                    onClose: function () { $('.ui-datepicker').css({ 'z-index': 0 }); }

                });

        });
        
        
        
         $(function(){
        $(".date-picker").attr("autocomplete", "off");
    });
        
        
    </script>
    
    
    
    
</html>
