<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough">
 <h:head>
     <h:outputStylesheet name="css/style.css"/>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.3/cyborg/bootstrap.min.css"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
     <h:outputScript name="js/jquery-1.12.4.js"/>
     <h:outputScript name="js/jquery-ui.js"/>
     <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css"/>
  
     <title> </title>
 </h:head>
<h:body class="body-background">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #060606">
        <h:link class="navbar-brand" outcome="index"> <h4>AUSSIE HOLIDAYS </h4></h:link>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
     </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <h:form  class="ml-auto" style="float:right">
     <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
            <h:link class="nav-link" outcome = "index.xhtml">Home<span class="sr-only">(current)</span></h:link>
        </li>
          <li class="nav-item">
             <h:link class="nav-link" outcome="profile.xhtml">Profile</h:link>
        </li>
         <li class="nav-item">
             <h:link class="nav-link" outcome="bookings">Bookings</h:link>
        </li>
         <h:form>
         <li class="nav-item">
             <h:commandLink class="nav-link" action="#{navigation.logout}" > Logout </h:commandLink>
        </li>
         </h:form>
     </ul>
           </h:form>
    </div>
  </nav>
    
    <f:metadata>
        <f:viewParam id="package" name="package" value="#{packageController.packageID}"  required="#{!facesContext.postback}">
    </f:viewParam>
        <f:viewAction action="#{packageController.init()}" />
      </f:metadata>
    <h:message for="package"/>
    
    
     <div class="container" style="margin-top:80px;">
        
         <h2> PACKAGE BOOKING : #{packageController.packages.packageName} </h2>
        
         <p> Address : #{packageController.packages.associatedResort.streetAddress} </p>
        
        
        <!-- Bookings column -->
        
        <div class="col-md-12 well" style="margin-top:30px">
        

        <h:form>
            
        
            
            <div class="row" style="margin-top:20px;">
            
                <div class="col-md-6"> 
                    
                <h6 style="color:black"> Number Of People </h6> 
        
                 <h:selectOneMenu class="form-control form-control-lg border-styled" 
                                  value="#{packageController.noOfPeopleText}">
                       
                     <f:selectItems  value="#{packageController.numberOfPeople}"/>
                 
                     <f:ajax  listener="#{packageController.valueChange()}" render="price" />
                   </h:selectOneMenu>
                  
                </div>
                <div class="col-md-6"> 
                    
                <h6 style="color:black"> Date</h6> 
        
                  <h:inputText id="date" class="form-control border-styled date-picker"
                               label="date" size="32" value="#{packageController.date}" binding="#{date}" required="true" requiredMessage="Please enter the date"></h:inputText> 
                      
                              
                  <h:messages for="date" class="#{!date.valid ? 'label label-warning' : 'none'}" />
                
                </div>
            </div>
                
    
            
              <div class="row" style="margin-top:30px;">
            
                <div class="col-md-6"> 
                    
                <h6 style="color:black"> Booking Name</h6> 
        
                  <h:inputText id="bookingName" class="form-control border-styled"
                               label="bookingName" size="32" value="#{packageController.bookingName}" binding="#{bookingName}" required="true" requiredMessage="Please enter number of rooms!"></h:inputText> 
                      
                               <p> Your booking name will be prepended with text "package booking" </p>
                  <h:messages for="bookingName" class="#{!bookingName.valid ? 'label label-warning' : 'none'}" />
                
                  
                </div>
                  
                <div class="col-md-6"> 
                    
                <h6 style="color:black"> Select Your Booking Type </h6> 
        
                 <h:selectOneMenu class="form-control form-control-lg border-styled" 
                                  value="#{packageController.bookingTypeSelection}">
                     <f:selectItems  value="#{packageController.bookingTypeDropDown}"/>
                   </h:selectOneMenu>
                 
                
                
                </div>
                  
                  
                
              </div>
            
            
             <div class="row" style="margin-top:20px;">
            
                <div class="col-md-12"> 
                    
                    <div class="text-center"> 
                <h2> Invoice  </h2>
                  </div>
                 
                    <div class="text-center" style="float:right">
                    
                <h6 style="color:black"> Total Cost  <h:outputText id="price" value="#{packageController.totalPrice}"> </h:outputText> </h6> 
                
                
                 <h:commandButton class="btn-success btn btn-lg" value="BOOK"
                                     action="#{packageController.pay()}"></h:commandButton>
                
                </div>
                
                </div>
                
              </div>
            
            
            <div class="row">
                
                
                <div class="col-lg-1 col-sm-1 padding-0" style="margin-top:10px; float:right">
                    
                   
                </div>
                
            </div>
            
        
        </h:form>
        
        
        
        </div>
        
    </div>
    
    
    
  
    
  
    </h:body>
    
    
    <script>
        
        $(function () {

            $(".date-picker").datepicker(
                {



                    dateFormat: 'dd-mm-yy',
                    changeYear: true,
                    changeMonth: true,
                    hideIfNoPrevNext: true,
                    orientation: 'bottom',
                    minDate: 'dateToday',
                    beforeShow: function (input) {
                        $(input).css({
                            "position": "relative",
                            "z-index": 999999
                        });
                    },
                    onClose: function () { $('.ui-datepicker').css({ 'z-index': 0 }); }

                });

        });
        
        
        
        $(function(){
        $(".date-picker").attr("autocomplete", "off");
    });
        
        
        
        
    </script>
    
    
    
</html>
