<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough">
 <h:head>
     
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
     <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
     <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
     <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css"/>
     <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"/>
     <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"/>
     <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css"/>
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous"/>
     
     <h:outputStylesheet name="css/style.css"/>
     <title> #{indexController.pageTitle}
 </title>
     
 </h:head>
<h:body class="body-background">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #060606">
        <h:link class="navbar-brand" outcome="index"> <h4> AUSSIE HOLIDAYS </h4> </h:link>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
     </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
            <h:link class="nav-link" outcome = "index.xhtml">Home<span class="sr-only">(current)</span></h:link>
        </li>
          <li class="nav-item">
             <h:link class="nav-link" outcome="profile.xhtml">Profile</h:link>
        </li>
         <li class="nav-item">
             <h:link class="nav-link" outcome="bookings">Bookings</h:link>
        </li>
         <h:form>
         <li class="nav-item">
             <h:commandLink class="nav-link" action="#{navigation.logout}" > Logout </h:commandLink>
        </li>
         </h:form>
     </ul>
    </div>
  </nav>

   
    
    
      <hr class="style-four" style="margin-top:40px"/>
      

      <div id="container">
          <div id="main">
    
              
      <div class="container">
            
          <div style="margin-top: 30px">
             <h4 class="text-center"> SEARCH BOOKINGS </h4>
             
         </div>
            
            <h:form>
                
                <div class="row" style="margin-top: 20px">
                
                <div class="col-lg-6 col-md-12 padding-0 booking-search-div" style="display:block">
              
                    <h:inputText class="form-control border-styled form-control-lg search-text #{!searchText.valid ? 'has-error' : 'none'}" 
                                 a:placeholder="Type Your Booking ID"  id="input-search-text"
                           value= "#{bookingsController.searchText}"
                           requiredMessage="You need to enter a value to search"
                           required="True"
                           />
                     <h:message for="input-search-text" class="#{!searchText.valid ? 'label label-warning' : 'none'}" />
 
                </div>
                    
                    <div class="col-lg-6 col-md-12 padding-0 booking-type-drop-down" style="display:none">
                        
                        <h:selectOneMenu class="form-control form-control-lg search-input border-styled booking-type-select-menu" 
                                         value="#{bookingsController.bookingTypeString}">
                            <f:selectItems  value="#{bookingsController.bookingTypeDropDownText}"/>
                        </h:selectOneMenu>
                        
                    </div>
                
                <div class="col-lg-5 col-md-12 padding-0">
                    <h:selectOneMenu class="form-control form-control-lg search-input border-styled search-by-select-menu" 
                                     value="#{bookingsController.searchByText}"
                                     >
                        <f:selectItems  value="#{bookingsController.searchBy}"/>
                    </h:selectOneMenu>
                </div>
                    
                
                <div class="col-lg-1 col-sm-1 padding-0">
                    
                    <h:commandButton class="btn-success btn btn-lg" value="SEARCH"
                                     action="#{bookingsController.search()}"></h:commandButton>
                </div>
                
                    
               </div>
                
    
            </h:form>
          
        </div>
      
      
      <div  style="margin-top:20px;"
          class=" container text-center table-sm #{!bookingsController.resultAvailable ? 'no-display' : 'block-display'}">
          
          <table class="table data-table-selector" style="margin-top:20px;">
              <thead class="thead-dark">
    		<tr>
    			
    			<th scope="col">Transaction Number</th>
                        <th scope="col">Transaction Name </th>
                        <th scope="col"> </th>
    		</tr>
              </thead>
    		<tbody>
                    <ui:repeat var="a" value="#{bookingsController.activityResultList}" varStatus="status">
	   			  <tr>
                                      
                                      <td> A#{a.activityBookingId}</td>
                                      <td> #{a.transactionName}</td>
                                      <td> 
                                          <h:link value="Details" outcome="activitybookings" > 
                                              <f:param name="activityBookingId"  value="#{a.activityBookingId}"></f:param> 
                                            </h:link>       
                                      
                                      </td>
		    		  </tr>
                    </ui:repeat>
                    <ui:repeat var="p" value="#{bookingsController.packageResultList}" varStatus="status1">
	   			  <tr>
                                      
                                      <td> P#{p.packageBookingId}</td>
                                      <td> #{p.transactionName}</td>
                                      <td> 
                                          <h:link value="Details" outcome="packagebookings" > 
                                              <f:param name="packageBookingId"  value="#{p.packageBookingId}"></f:param> 
                                            </h:link>       
                                      
                                      </td>
		    		  </tr>
                    </ui:repeat>
                    <ui:repeat var="r" value="#{bookingsController.resortResultList}" varStatus="status2">
	   			  <tr>
                                      
                                      <td> R#{r.resortBookingId}</td>
                                      <td> #{r.transactionName}</td>
                                        <td> 
                                            <h:link value="Details" outcome="resortbookings" > 
                                                <f:param name="resortBookingId"  value="#{r.resortBookingId}"></f:param> 
                                              </h:link>       

                                      </td>
		    		  </tr>
	    	     </ui:repeat>
    		</tbody>
    	</table>
          
      </div>
      
      
      
      <div class="container #{ (!bookingsController.resultAvailable) and (!bookingsController.firstTimeLoad) ? 'block-display' : 'no-display'}">
      
          <h5 class="text-center" style="margin-top: 20px;"> No records found for your search   </h5>
          
      </div>
        
      
        </div>
          
      </div>
    <h:outputScript name="js/bookingpage.js"> </h:outputScript>
     
 </h:body>
    
     
    <style>
         
         a{color:blue}
         
     </style>
    
</html>
