<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough">
 <h:head>
     <h:outputStylesheet name="css/style.css"/>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.3/cyborg/bootstrap.min.css"/>
     <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
     <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
     <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css"/>
     <h:outputScript name="js/bootstrap.min.js" />
     <h:outputScript name="js/bootbox.min.js" />
     <title> User Details </title>
 </h:head>
<h:body class="body-background">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #060606">
        <h:link class="navbar-brand" outcome="index"> <h4>AUSSIE HOLIDAYS </h4></h:link>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
     </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
     
     <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
            <h:link class="nav-link" outcome = "index.xhtml">Home<span class="sr-only">(current)</span></h:link>
        </li>
          <li class="nav-item">
             <h:link class="nav-link" outcome="profile.xhtml">Profile</h:link>
        </li>
         <li class="nav-item">
             <h:link class="nav-link" outcome="bookings.xhtml">Bookings</h:link>
        </li>
         <h:form>
         <li class="nav-item">
             <h:commandLink class="nav-link" action="#{navigation.logout}" > Logout </h:commandLink>
        </li>
         </h:form>
     </ul>
      
    </div>
  </nav>
    
    
    
    
    <div class="container" style="margin-top:100px">
        
       
        
     
        <h4 style="color:black"> EDIT DETAILS </h4>
        
        
        <h:form>
            
            
            <h:inputText id="id" style="display:none" value="#{profileEditController.id}"></h:inputText>
            
            
            <div class="row" style="margin-top:20px;">
            
                <h6 style="color:black"> First Name </h6> 
        
                  <h:inputText id="firstName" class="form-control border-styled"
                     label="Name" size="32" value="#{profileEditController.firstName}" binding="#{firstName}" required="true" requiredMessage="Please enter your name!"></h:inputText> 
                              
                  <h:messages for="firstName" class="#{!firstName.valid ? 'label label-warning' : 'none'}" />
                
             </div>
            
            
            
            
             <div class="row" style="margin-top:20px;">
            
                <h6 style="color:black"> Last Name </h6> 
        
                  <h:inputText id="lastName" class="form-control border-styled"
                     label="lastName" size="32" value="#{profileEditController.lastName}" binding="#{lastName}" required="true" requiredMessage="Please enter your last name!"></h:inputText> 
                              
                  <h:messages for="lastName" class="#{!lastName.valid ? 'label label-warning' : 'none'}" />
                
             </div>
            
            
            
            <div class="row" style="margin-top:20px;">
            
                <h6 style="color:black"> Email </h6> 
        
                  <h:inputText id="email" class="form-control border-styled"
                     label="email" size="32" value="#{profileEditController.email}" binding="#{email}" required="true" requiredMessage="Please enter your email!"></h:inputText> 
                              
                  <h:messages for="email" class="#{!email.valid ? 'label label-warning' : 'none'}" />
                
             </div>
            
            
            <div class="row" style="margin-top:20px;">
            
                <h6 style="color:black"> Phone </h6> 
        
                  <h:inputText id="phone" class="form-control border-styled"
                               label="phone" size="32" value="#{profileEditController.phoneNumber}" binding="#{phoneNumber}" required="true" requiredMessage="Please enter your phone Number!"></h:inputText> 
                              
                  <h:messages for="phone" class="#{!phone.valid ? 'label label-warning' : 'none'}" />
                
             </div>
            
            
            
            <div class="row" style="margin-top:20px;">
            
                <h6 style="color:black"> Address </h6> 
        
                  <h:inputText id="address" class="form-control border-styled address"
                        autocomplete="off"   label="phone" size="32" value="#{profileEditController.address}" binding="#{address}" required="true" requiredMessage="Please enter your phone Number!"></h:inputText> 
                              
                  <h:messages for="address" class="#{!address.valid ? 'label label-warning' : 'none'}" />
                
             </div>
            
            
           
        
        
            <h:commandButton action="#{profileEditController.updateUsers()}" value="submit" class="btn btn-success"
                         style="margin-top:30px;">
            
        </h:commandButton>
        
            
            <button  style="margin-top:30px;" type="reset" class="btn btn-warning"> Reset </button>
            
            
         
        </h:form>
        
  
        <!--
        <div class="#{!userEditController.resultAvailable ? 'display-block' : 'no-display'}">
        
        
            <h4 class="text-center" style="color:black">
                
                This is an invalid-request
                
            </h4>
        
        </div>
        
        -->
        
    </div>
    
    
    
    </h:body>
    
    <script>
      function activatePlacesSearch() {

            var input = $(".address")[0];
  
            var autocomplete = new google.maps.places.Autocomplete(input);
            google.maps.event.addListener(autocomplete, 'place_changed', function () {
                var place = autocomplete.getPlace();
                console.log(place.address_components);
            });

        }
    
    </script>
    
    
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBm-robUfxNpka3hxgsp2TbjwKpVM0Fufo&amp;libraries=places&amp;callback=activatePlacesSearch"> </script>
  
    
</html>
