<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough">
 <h:head>
     <h:outputStylesheet name="css/style.css"/>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>
     <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
     <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
     <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css"/>
     <title> #{packageBookingController.pageTitle}
 </title>
 </h:head>
<h:body class="body-background">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #060606">
        <h:link class="navbar-brand" outcome="index"> <h4> AUSSIE HOLIDAYS </h4> </h:link>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
     </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
     <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
            <h:link class="nav-link" outcome = "index.xhtml">Home<span class="sr-only">(current)</span></h:link>
        </li>
          <li class="nav-item">
             <h:link class="nav-link" outcome="profile.xhtml">Profile</h:link>
        </li>
         <li class="nav-item">
             <h:link class="nav-link" outcome="bookings">Bookings</h:link>
        </li>
         <h:form>
         <li class="nav-item">
             <h:commandLink class="nav-link" action="#{navigation.logout}" > Logout </h:commandLink>
        </li>
         </h:form>
     </ul>
    </div>
  </nav>

      <hr class="style-four text-center " style="margin-top:60px"/>  
      
      <div class="container">
          
          
          <h4 class="jumbotron text-center"> #{packageBookingController.pageTitle} </h4>
          
          <hr/>
          
          <div class="booking-details jumbotron">
          
          <div class="row float-lg-left float-sm-none">
              
              <div class="col-sm-none col-md-12">
                  <h5 class='text-center'> RESORT DETAILS </h5>
                  <p style="margin-top:20px"> <span> Resort : </span> #{packageBookingController.packages.associatedResort.resortName}</p>
                  <p> <span> Address : </span>  #{packageBookingController.packages.associatedResort.streetAddress} </p>
                  <p> <span> City : </span>  #{packageBookingController.packages.associatedResort.city} </p>
                 </div>
          </div>
 
          
          <div class="float-lg-right float-sm-none">
              <div class="col-sm-12">
                  <h5 class='text-center'> BOOKING DETAILS </h5>
                  <p style="margin-top:20px"> <span> Booking Name : </span> #{packageBookingController.packageBooking.transactionName} </p>
                  <p> <span>  Guest Name :  </span>   #{packageBookingController.packageBooking.userId.firstName}  #{packageBookingController.packageBooking.userId.lastName} </p>
                  <p> <span> Booking Date : </span> #{packageBookingController.packageBooking.dateOfBooking.date}-
                      #{packageBookingController.packageBooking.dateOfBooking.month + 1}-
                      #{packageBookingController.packageBooking.dateOfBooking.year+1900} </p>
                      <p> <span> Scheduled Activity 1 : </span>#{packageBookingController.packages.scheduledActivity1.activityName} </p>
                      <p> <span> Scheduled Activity 2 : </span> #{packageBookingController.packages.scheduledActivity2.activityName}</p>
                      <p> <span> Scheduled Activity 3 : </span> #{packageBookingController.packages.scheduledActivity3.activityName} </p>
                      <p> <span> Number of People  : </span> #{packageBookingController.packageBooking.numOfPeople} </p>
                      
              </div>
          </div>
          
          </div>
        
          <hr/>
          <div class="invoice jumbotron">
              <div class="col-sm-12 col-md-12" style="clear:both;">
                  <h5 class="text-center" style= "margin-top:10px"> INVOICE </h5>
                  <p style="margin-top:10px"> <span> Individual Cost : </span> 
                      #{packageBookingController.packages.packageCost}
                  </p>
                  <p> <span> Number of people : </span> #{packageBookingController.packageBooking.numOfPeople} </p>
                  <p> <span> Mode of Payment : </span> #{packageBookingController.packageBooking.bookingType.typeName} </p>
                  <p> <span> Total Package Cost : </span> #{packageBookingController.packageBooking.numOfPeople} * 
                      #{packageBookingController.packages.packageCost} = 
                      #{packageBookingController.packageBooking.numOfPeople * packageBookingController.packages.packageCost } </p>
                 
                   <p><span>Total Booking Cost : </span> #{packageBookingController.packageBooking.packageCost} </p>
              </div>
          </div>
      </div>
          
      
      
      <footer>
        
        <div class="container">
            
            <div class="row">
            <div class="col-xs-12 col-md-6" >
                <h4 style="margin-top: 20px">AUSSIE HOLIDAYS </h4>
                <p style="margin-top: -10px"> 79 Whiteman Street </p>
                <p style="margin-top: -20px"> Melbourne, Australia </p>
                <p  style="margin-top: -20px"> Phone : 049999999 </p>
            </div>
            
            <div class=" col-md-2" style="margin-top: 40px;">
                
                <h6>About Us</h6>
        
            </div>
                
             <div class=" col-md-2" style="margin-top: 40px;">   
                <h6>Contact Us</h6>
             </div>
                
                
             <div class=" col-md-2" style="margin-top: 40px;">   
                <h6>Admin</h6>
             </div>
                
                
                </div>
            
        </div>
        
    </footer>
  
      
      
    </h:body>
</html>

