<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough">
 <h:head>
     <h:outputStylesheet name="css/style.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"></meta>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.3/cyborg/bootstrap.min.css"/>
     <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
     <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
     <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css"/>
  
     <title> </title>
 </h:head>
<h:body class="body-background">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #060606">
        <h:link class="navbar-brand" outcome="index"> <h4>AUSSIE HOLIDAYS </h4></h:link>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
     </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          
     <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
            <h:link class="nav-link" outcome = "index.xhtml">Home<span class="sr-only">(current)</span></h:link>
        </li>
          <li class="nav-item">
             <h:link class="nav-link" outcome="profile.xhtml">Profile</h:link>
        </li>
         <li class="nav-item">
             <h:link class="nav-link" outcome="bookings">Bookings</h:link>
        </li>
         <h:form>
         <li class="nav-item">
             <h:commandLink class="nav-link" action="#{navigation.logout}" > Logout </h:commandLink>
        </li>
         </h:form>
     </ul>
           
    </div>
  </nav>
        
    <f:metadata>
        <f:viewParam id="type" name="type" value="#{paymentController.type}"  required="#{!facesContext.postback}">
       </f:viewParam>
        <f:viewAction action="#{paymentController.init()}" />
      </f:metadata>
        <h:message for="type"/>
    

    
    
    
    <div class="container center  text-center" style="margin-top:100px">
        
        <h2> Payment </h2>
        
        
        <div class='row'>
               
               <h:messages for="month" class="#{!month.valid ? 'label label-warning' : 'none'}"/>
               <h:messages for="year" class="#{!year.valid ? 'label label-warning' : 'none'}"/>
               
               
           </div>
        
        
        <div class="col-md-6 offset-3" style="margin-top:20px">
        
       <h:form class="payment-form">
          
           <div class="row col-md-12">
               
           <label> CREDIT CARD NUMBER</label>
           <h:inputText  class="form-control border-styled" id="creditCard" 
               required="true" requiredMessage="credit card number is required"  value="#{paymentController.creditCard}" binding="#{creditCard}"></h:inputText>
           <h:messages for="creditCard" class="#{!creditCard.valid ? 'label label-warning' : 'none'}"/>
         
           </div>
           
           <div class="row col-md-12">
               
           <label style="margin-top:10px"> NAME </label>
           <h:inputText  class="form-control border-styled" id="name" value="#{paymentController.name}" binding="#{name}"
                         required="true" requiredMessage="Name is required" ></h:inputText>
           <h:messages for="name" class="#{!name.valid ? 'label label-warning' : 'none'}"/>
         
           </div>
           
           
           <div class="row">
               
               <div class="col-md-2 text-center">
                   
                   
                    <label style="margin-top:10px"> Month </label>
                    <h:inputText  class="form-control border-styled padding-0" id="month" 
                        required="true" requiredMessage="Month is required"   value="#{paymentController.month}" binding="#{month}"></h:inputText>
                    

               </div>
               
               
                <div class="col-md-2 text-center">
                   
                   
                    <label style="margin-top:10px"> Year </label>
                    <h:inputText  class="form-control border-styled padding-0" 
             required="true" requiredMessage="Year is required" id="year" value="#{paymentController.year}" binding="#{year}"></h:inputText>
                    

               </div>
               
               
              
         
               
               
               
           </div>
           
    
           
           
           
           
           
     
           <div class="row">
               
               
               
                <div class="col-lg-5 col-sm-5 padding-0" style="margin-top:30px;">
                    
                    
                    <h5>Price  $: #{paymentController.price}</h5>
                    
                </div>
               
               
               
                <div class="col-lg-1 col-sm-1 padding-0" style="margin-top:20px;">
                    
                    <h:commandButton class="btn-success btn btn-lg" value="PAY"
                                     action="#{paymentController.pay()}">
                    </h:commandButton>
                </div>
               
               
               
           </div>
        
        
       
        
           </h:form>
        
    </div>
        
   
    
     </div>
    
    </h:body>
    
    <style>
        
        

 
    
    </style>
</html>
